<a href="https://colab.research.google.com/github/macrodatascience/simplilearn/blob/main/SL_Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simplilearn - Scikit-Learn Tutorial *

# Scikit-Learn --  Built on top of Numpy, SciPy and Matplotlib
               --  Simple, Efficient tool for Data mining and analysis

## Classification -- Spam Detection, Wine Good/Bad
## Regression -- Weather Forecasting, Stock Prices Prediction
## Clustering -- Automatic grouping of similar objects into sets, Customer Segmentation
## Model Selection -- Comparing, validating, choosing parameters and models.       
Application - Improving model accuracy via parameter tuning
## Dimensionality Reduction -- Increase model efficiency (reducing the number of variables to consider)
## Preprocessing -- Feature extraction and normalization. Transforming input data such as text for use with ML Algorithms

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neural_network import MLPClassifier
# from sklearn.linear_model import SGDClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

%matplotlib inline

In [17]:
wine = pd.read_csv('winequality-red.csv',sep=';')

In [18]:
wine.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [8]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [9]:
wine.shape

(1599, 12)

In [12]:
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [13]:
wine.quality

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [14]:
# preprocessing data

bins = (2,6.5,8)
group_names = ['bad','good']
wine['quality1'] = pd.cut(wine['quality'],bins = bins,labels=group_names)
wine['quality1'].unique()

['bad', 'good']
Categories (2, object): ['bad' < 'good']

In [16]:
wine.quality

0       bad
1       bad
2       bad
3       bad
4       bad
       ...
1594    bad
1595    bad
1596    bad
1597    bad
1598    bad
Name: quality, Length: 1599, dtype: category
Categories (2, object): ['bad' < 'good']